.contact {
  height: 100%;
  padding-top: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to right,
      rgba($ternary-color, 0.9),
      rgba($ternary-color, 0.3)
    ),
    url(/img/model-1.webp) center top;
  clip-path: polygon(-2% 2%, 100% 13%, 92% 100%, 0 96%);

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__list {
    font-size: 1.5rem;
  }

  .social-icons {
    position: initial;
    margin-top: 2rem;
  }
}
