@include media-md {
  body header {
    position: absolute;
  }

  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
    position: absolute;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .about {
    .gallery {
      img {
        width: 10vw;
        margin: 0 1rem;
      }
    }
    .bio {
      display: flex;
      text-align: start;
      &__text {
        width: 50vw;
      }
      &__img {
        width: 20vw;
      }
    }
    &__bio {
      font-size: 1.5rem;
    }
  }

  .showreel {
    &__bio-image {
      height: 60vh;
      .text-secondary {
        margin-bottom: 2rem;
      }
    }

    &__items {
      width: 600px;
      iframe {
        width: 600px;
      }
    }
    .text-secondary {
      font-size: 3rem;
    }
  }
}

@include media-lg {
  .showreel__items {
    width: 800px;
    iframe {
      width: 800px;
    }
  }
}

@include media-xl {
  .showreel__bio-image {
    height: 50vh;
  }
}
